

<div class="mat-elevation-z2" style="width: 30%; padding: 30px; margin: 50px auto; display: flex;justify-content: center;">
    <form [formGroup]="formEstudiante">
        <div class="flex">
            <mat-form-field>
                <mat-label>Código del Estudiante</mat-label>
                <input matInput  formControlName="id_Estudiante">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Nombre Completo del Estudiante</mat-label>
                <input matInput  formControlName="nombreCompleto">
              </mat-form-field>
        </div>
       
        <div class="flex">
            <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
            <button mat-flat-button color="warn" (click)="volver()" style="margin-left: 8px;">Volver</button>
        </div>

    </form>

</div>
