<mat-card style="width: 70%; margin: 50px auto">

  <mat-card-header>
      <mat-card-title><p>Materias</p></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <!-- <button mat-flat-button color="primary" (click)="nuevoEstudiante()">Nuevo Estudiante</button> -->

      <table mat-table [dataSource]="listaMaterias" class="mat-elevation-z2" style="margin-top:20px">

          <ng-container matColumnDef="id_Materia">
              <th mat-header-cell *matHeaderCellDef> Código de Materia</th>
              <td mat-cell *matCellDef="let element"> {{element.id_Materia}} </td>
            </ng-container>
          
          <ng-container matColumnDef="nombreMateria">
            <th mat-header-cell *matHeaderCellDef> Materia</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreMateria}} </td>
          </ng-container>     
              
          <ng-container matColumnDef="creditos">
            <th mat-header-cell *matHeaderCellDef> Créditos</th>
            <td mat-cell *matCellDef="let element"> {{element.creditos}} </td>
          </ng-container>
         
          <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" (click)="editarEstudiante(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <!-- <button mat-icon-button color="warn" (click)="eliminarMateria(element)">
                      <mat-icon>delete</mat-icon>
                    </button>                       -->
                    <button mat-flat-button (click)="materiaEstudiante(element)">Ver Materias</button> 
              </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </mat-card-content>
</mat-card>