<footer>
    <div class="container-fluid bg-dark p-5 text-center">
        <div class="row">
            <div class="col"><a href="#" class="text-decoration-none text-success"><i class="bi bi-facebook"></i>FACEBOOK</a></div>
            <div class="col"><a href="#" class="text-decoration-line-through">CERTIFICADOS</a></div>
            <div class="col"><a href="#" class="text-decoration-underline">CONTACTOS</a></div>
            <div class="col"><a href="#" class="text-decoration-none text-Emphasis">LINKS</a></div>
            <div class="col"><a href="#" class="text-decoration-none text-border">NOSOTROS</a></div>
            <div class="col"><a href="#" class="text-decoration-none text-primary">ACERCA DE</a></div>
        </div>

    </div>
   </footer>
