<mat-toolbar color="primary">
  <span>Gestión de Estudiantes</span>
   <div class="spacer" ></div>
     <!-- <a mat-button routerLink="/estudiantes">Estudiantes</a>
     <a mat-button routerLink="/materias">Materias</a>
     <a mat-button routerLink="/profesores">Profesores</a>
     <a mat-button routerLink="/">Contact</a> -->
     <button mat-button [routerLink]="[ '/estudiantes' ]">Estudiantes</button>
     <button mat-button [routerLink]="[ '/materias' ]">Materias</button>
     <button mat-button [routerLink]="[ '/profesores' ]">Profesores</button>
     <button mat-button [routerLink]="[ '/' ]">Contact</button>
 </mat-toolbar>
